# Virtual environment
emotion_env/

# Python cache
__pycache__/
*.pyc

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Data folders (do not push dataset)
data/raw/
data/processed/

# Model files
*.h5
*.pkl

# System files
.DS_Store