# ===============================
# Python
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ===============================
# Virtual Environment
# ===============================
emotion_env/
venv/
env/

# ===============================
# Jupyter Notebook Checkpoints
# ===============================
.ipynb_checkpoints/

# ===============================
# Dataset (DO NOT upload raw data)
# ===============================
data/raw/

# ===============================
# Processed data
# ===============================
data/processed/

# ===============================
# Model files (optional but recommended to ignore)
# ===============================
models/*.h5
models/*.pkl

# ===============================
# History files
# ===============================
history.pkl

# ===============================
# VS Code
# ===============================
.vscode/

# ===============================
# System Files
# ===============================
.DS_Store
Thumbs.db